@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/9.0.6/signalr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl('https://api-stage.rocketmoney.com.ua/rocketmoneyHub', {
                transport: signalR.HttpTransportType.WebSockets,
                fetch: (url, options) => {
                    options.credentials = 'include';
                    return fetch(url, options);
                }
            })
            .withAutomaticReconnect()
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.on('AuthorizeClient', (model) => {
            // Prepare data for POST request
            const data = {
                mobile: model.mobile,
                confirmationToken: model.confirmationToken
            };

            // Create JS fetch POST request
            fetch('https://api-stage.rocketmoney.com.ua/api/authorization/authorize-by-token', {
                method: 'POST',
                   credentials: 'include',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Authorization response:', result);
            })
            .catch(error => {
                console.error('Authorization failed:', error);
            });
        });
         connection.on('RedirectClient', (model) => { });
        connection.start();
    </script>
}
